<div class="row">
    {{#each notes}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4>{{title}}
                        <a href="/notes/edit/{{_id}}">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </h4>                     
                    <h4>{{description}}</h4>
                    <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit">
                         Delete
                        </button>

                    </form>
                </div>
            </div>
        </div>
    {{/each}}
</div>